<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stability">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComposeActivity"
            android:exported="true" />
        <activity
            android:name=".JetpackActivity"
            android:exported="true" />
        <activity
            android:name=".ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".opengl.basic.OpenGLActivity"
            android:exported="true" />
        <activity
            android:name=".opengl.intermediate.OpenGLIntermediateActivity"
            android:exported="true" />
        <activity
            android:name=".opengl.intermediate.OpenGLTransformActivity"
            android:exported="true" />
        <activity
            android:name=".opengl.advanced.OpenGLAdvancedActivity"
            android:exported="true" />
        <activity
            android:name=".mvp.MVPMain"
            android:exported="true" />
        <activity
            android:name=".mvp.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".mvp.login.MainActivity"
            android:exported="true" />
        <activity
            android:name=".video_edit.VideoEditActivity"
            android:exported="true" />
        <activity
            android:name=".video_edit.VideoPlayerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/mp4" />
            </intent-filter>
        </activity>
        <activity
            android:name=".video_edit.MediaSelectionActivity"
            android:exported="true" />
    </application>

</manifest>